/*! ------▼ 25k label properties ▼------ */

/** Hydrography */
["class_id" = 1] [@sd < 25k] {
  label: [name_eng_main];
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-size: 14;
  font-family: "DejaVu Sans";
  font-style: italic;
  font-weight: normal;
  font-fill: #1f63b0; /* blue */
  -gt-label-auto-wrap: 1;
  label-anchor: 0.5 0.5;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 0;
  label-max-displacement: 5;
}


/** Community */
["class_id" in (2, 9)] [@sd < 25k] {
  label: [name_eng_main];
  /*halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;*/
  font-size: 15;
  font-family: "DejaVu Sans";
  font-style: normal;
  font-weight: normal;
  font-fill: black;
  label-anchor: 0.5 0.5;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 0;
  label-priority: 1500;
  label-max-displacement: 5;
  shield: symbol(square);
  shield-resize: stretch;
  shield-margin: 3;
  :shield {
    fill: #feff00; /* yellow */
  }
}



/** National Parks */
["class_id" = 3] [@sd < 25k] {
  label: [name_eng_main];
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-size: 14;
  font-family: "DejaVu Sans";
  font-style: italic;
  font-weight: normal;
  font-fill: #006e00; /* green */
  -gt-label-auto-wrap: 1;
  label-anchor: 0.5 0.5;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 0;
  label-max-displacement: 5;
}


/** Big Districts */
["class_id" = 6] [@sd < 25k] {
  label: [name_eng_main];
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-size: 16;
  font-family: "DejaVu Sans";
  font-style: italic;
  font-weight: normal;
  font-fill: [lbl_color];
  -gt-label-auto-wrap: 1;
  label-anchor: 0.5 0.5;
  label-char-spacing: 1;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 10;
  label-max-displacement: 20;
}


/*! ------▼ 50k label properties ▼------ */

/** Hydrography */
["class_id" = 1] [@sd > 25k] [@sd < 50k] {
  label: [name_eng_main];
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-size: 13;
  font-family: "DejaVu Sans";
  font-style: italic;
  font-weight: normal;
  font-fill: #1f63b0; /* blue */
  -gt-label-auto-wrap: 1;
  label-anchor: 0.5 0.5;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 0;
  label-max-displacement: 5;
}


/** Community */
["class_id" in (2, 9)] [@sd > 25k] [@sd < 50k] {
  label: [name_eng_main];
  /*halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;*/
  font-size: 14;
  font-family: "DejaVu Sans";
  font-style: normal;
  font-weight: normal;
  font-fill: black;
  label-anchor: 0.5 0.5;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 0;
  label-priority: 1500;
  label-max-displacement: 5;
  shield: symbol(square);
  shield-resize: stretch;
  shield-margin: 3;
  :shield {
    fill: #feff00; /* yellow */
  }
}



/** National Parks */
["class_id" = 3] [@sd > 25k] [@sd < 50k] {
  label: [name_eng_main];
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-size: 13;
  font-family: "DejaVu Sans";
  font-style: italic;
  font-weight: normal;
  font-fill: #006e00; /* green */
  -gt-label-auto-wrap: 1;
  label-anchor: 0.5 0.5;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 0;
  label-max-displacement: 5;
}


/** Big Districts */
["class_id" = 6] [@sd > 25k] [@sd < 50k] {
  label: [name_eng_main];
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-size: 16;
  font-family: "DejaVu Sans";
  font-style: italic;
  font-weight: normal;
  font-fill: [lbl_color];
  -gt-label-auto-wrap: 1;
  label-anchor: 0.5 0.5;
  label-char-spacing: 1;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 10;
  label-max-displacement: 20;
}



/*! ------▼ 100k label properties ▼------ */

/** Hydrography */
["class_id" = 1] ["lbl_scale" >= 100] [@sd > 50k] [@sd < 100k] {
  label: [name_eng_main];
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-size: 12;
  font-family: "DejaVu Sans";
  font-style: italic;
  font-weight: normal;
  font-fill: #1f63b0; /* blue */
  -gt-label-auto-wrap: 1;
  label-anchor: 0.5 0.5;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 0;
  label-max-displacement: 5;
}


/** Community */
["class_id" in (2, 9)] ["lbl_scale" >= 100] [@sd > 50k] [@sd < 100k] {
  label: [name_eng_main];
  /*halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;*/
  font-size: 13;
  font-family: "DejaVu Sans";
  font-style: normal;
  font-weight: normal;
  font-fill: black;
  label-anchor: 0.5 0.5;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 0;
  label-max-displacement: 40;
  label-priority: 1500;
  shield: symbol(square);
  shield-resize: stretch;
  shield-margin: 3;
  :shield {
    fill: #feff00; /* yellow */
  }
}


/** National Parks */
["class_id" = 3] ["lbl_scale" >= 100] [@sd > 50k] [@sd < 100k] {
  label: [name_eng_main];
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-size: 12;
  font-family: "DejaVu Sans";
  font-style: italic;
  font-weight: normal;
  font-fill: #006e00; /* green */
  -gt-label-auto-wrap: 1;
  label-anchor: 0.5 0.5;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 0;
  label-max-displacement: 5;
}


/** Big Districts */
["class_id" = 6] ["lbl_scale" >= 100] [@sd > 50k] [@sd < 100k] {
  label: [name_eng_main];
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-size: 12;
  font-family: "DejaVu Sans";
  font-style: italic;
  font-weight: normal;
  font-fill: [lbl_color];
  -gt-label-auto-wrap: 1;
  label-anchor: 0.5 0.5;
  label-char-spacing: 1;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 10;
  label-max-displacement: 20;
}
