/* @title Summit Pass 25k */
/*! ------▼ 25k symbols ▼------ */
/** Major Summit */
["class_id" = '21123000'] [@sd < 25k] {
  mark: symbol('triangle');
  label: Concatenate('მ. '[name_geo]'
') parseInt([elev]);
  font-size: 13;
  mark-anchor: 0.5 0.5;
  :mark {
    size: 11px;
    fill: black;
    stroke: white;
  }
}

/** Summit */
["class_id" = '21125000'] [@sd < 25k] {
  mark: symbol('triangle');
  label: Concatenate('მ. '[name_geo]'
') parseInt([elev]);
  font-size: 11;
  mark-anchor: 0.5 0.5;
  :mark {
    size: 9px;
    fill: black;
    stroke: white;
  }
}


/** Major Pass */
["class_id" = '21122000'] [@sd < 25k] {
  mark: symbol('x'), symbol('shape://times');
  label: Concatenate('უღ. '[name_geo]'
') parseInt([elev]);
  font-size: 13;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :nth-mark(1) {
    size: 10px;
    stroke: white;
    fill: white;
  };
  :nth-mark(2) {
    size: 8px;
    stroke: black;
  }
}


/** Pass */
["class_id" = '21121000'] [@sd < 25k] {
  mark: symbol('x'), symbol('shape://times');
  label: Concatenate('უღ. '[name_geo]'
') parseInt([elev]);
  font-size: 11;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :nth-mark(1) {
    size: 9px;
    stroke: white;
    fill: white;
  };
  :nth-mark(2) {
    size: 7px;
    stroke: black;
  }
}


/** Water Surface Elevation */
["class_id" = '21124000'] [@sd < 25k] {
  mark: symbol('circle');
  label: Concatenate([name_geo]'
') parseInt([elev]);
  font-size: 9;
  font-fill: #1f78b4;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :mark {
    size: 4px;
    fill: #a6cee3;
    stroke: #1f78b4;
  }
}


/** Elevation Point */
["class_id" = '21120000'] [@sd < 25k] {
  mark: symbol('circle');
  label: Concatenate([name_geo]'
') parseInt([elev]);
  font-size: 9;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :mark {
    size: 5px;
    fill: black;
    stroke: white;
  }
}


/*! ------▼ 25k label properties ▼------ */
[@sd < 25k] {
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.8;
  font-family: "DejaVu Sans";
  font-weight: normal;
  font-style: italic;
  font-fill: black;
  label-offset: 0 5;
  label-anchor: 0.5 0;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-max-displacement: 10;
}



/* @title Summit Pass 50k */
/*! ------▼ 50k symbols ▼------ */
/** Major Summit */
["class_id" = '21123000'] ["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  mark: symbol('triangle');
  label: Concatenate('მ. '[name_geo]'
') parseInt([elev]);
  font-size: 12;
  mark-anchor: 0.5 0.5;
  :mark {
    size: 11px;
    fill: black;
    stroke: white;
  }
}

/** Summit */
["class_id" = '21125000'] ["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  mark: symbol('triangle');
  label: Concatenate('მ. '[name_geo]'
') parseInt([elev]);
  font-size: 10;
  mark-anchor: 0.5 0.5;
  :mark {
    size: 9px;
    fill: black;
    stroke: white;
  }
}


/** Major Pass */
["class_id" = '21122000'] ["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  mark: symbol('x'), symbol('shape://times');
  label: Concatenate('უღ. '[name_geo]'
') parseInt([elev]);
  font-size: 12;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :nth-mark(1) {
    size: 10px;
    stroke: white;
    fill: white;
  };
  :nth-mark(2) {
    size: 8px;
    stroke: black;
  }
}


/** Pass */
["class_id" = '21121000'] ["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  mark: symbol('x'), symbol('shape://times');
  label: Concatenate('უღ. '[name_geo]'
') parseInt([elev]);
  font-size: 10;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :nth-mark(1) {
    size: 9px;
    stroke: white;
    fill: white;
  };
  :nth-mark(2) {
    size: 7px;
    stroke: black;
  }
}


/** Water Surface Elevation */
["class_id" = '21124000'] ["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  mark: symbol('circle');
  label: Concatenate([name_geo]'
') parseInt([elev]);
  font-size: 8;
  font-fill: #1f78b4;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :mark {
    size: 4px;
    fill: #a6cee3;
    stroke: #1f78b4;
  }
}


/** Elevation Point */
["class_id" = '21120000'] ["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  mark: symbol('circle');
  label: Concatenate([name_geo]'
') parseInt([elev]);
  font-size: 8;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :mark {
    size: 5px;
    fill: black;
    stroke: white;
  }
}


/*! ------▼ 50k label properties ▼------ */
["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.8;
  font-family: "DejaVu Sans";
  font-weight: normal;
  font-style: italic;
  font-fill: black;
  label-offset: 0 5;
  label-anchor: 0.5 0;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-max-displacement: 10;
}




/* @title Summit Pass 50k */
/*! ------▼ 50k symbols ▼------ */
/** Major Summit */
["class_id" = '21123000'] ["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  mark: symbol('triangle');
  label: Concatenate('მ. '[name_geo]'
') parseInt([elev]);
  font-size: 12;
  mark-anchor: 0.5 0.5;
  :mark {
    size: 11px;
    fill: black;
    stroke: white;
  }
}

/** Summit */
["class_id" = '21125000'] ["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  mark: symbol('triangle');
  label: Concatenate('მ. '[name_geo]'
') parseInt([elev]);
  font-size: 10;
  mark-anchor: 0.5 0.5;
  :mark {
    size: 9px;
    fill: black;
    stroke: white;
  }
}


/** Major Pass */
["class_id" = '21122000'] ["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  mark: symbol('x'), symbol('shape://times');
  label: Concatenate('უღ. '[name_geo]'
') parseInt([elev]);
  font-size: 12;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :nth-mark(1) {
    size: 10px;
    stroke: white;
    fill: white;
  };
  :nth-mark(2) {
    size: 8px;
    stroke: black;
  }
}


/** Pass */
["class_id" = '21121000'] ["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  mark: symbol('x'), symbol('shape://times');
  label: Concatenate('უღ. '[name_geo]'
') parseInt([elev]);
  font-size: 10;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :nth-mark(1) {
    size: 9px;
    stroke: white;
    fill: white;
  };
  :nth-mark(2) {
    size: 7px;
    stroke: black;
  }
}


/** Water Surface Elevation */
["class_id" = '21124000'] ["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  mark: symbol('circle');
  label: Concatenate([name_geo]'
') parseInt([elev]);
  font-size: 8;
  font-fill: #1f78b4;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :mark {
    size: 4px;
    fill: #a6cee3;
    stroke: #1f78b4;
  }
}


/** Elevation Point */
["class_id" = '21120000'] ["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  mark: symbol('circle');
  label: Concatenate([name_geo]'
') parseInt([elev]);
  font-size: 8;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :mark {
    size: 5px;
    fill: black;
    stroke: white;
  }
}


/*! ------▼ 50k label properties ▼------ */
["scale" >= 50] [@sd > 25k] [@sd < 50k] {
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.8;
  font-family: "DejaVu Sans";
  font-weight: normal;
  font-style: italic;
  font-fill: black;
  label-offset: 0 5;
  label-anchor: 0.5 0;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-max-displacement: 10;
}




/* @title Summit Pass 100k */
/*! ------▼ 100k symbols ▼------ */
/** Major Summit */
["class_id" = '21123000'] ["scale" >= 100] [@sd > 50k] [@sd < 100k] {
  mark: symbol('triangle');
  label: Concatenate('მ. '[name_geo]'
') parseInt([elev]);
  font-size: 11;
  mark-anchor: 0.5 0.5;
  :mark {
    size: 10px;
    fill: black;
    stroke: white;
  }
}

/** Summit */
["class_id" = '21125000'] ["scale" >= 100] [@sd > 50k] [@sd < 100k] {
  mark: symbol('triangle');
  label: Concatenate('მ. '[name_geo]'
') parseInt([elev]);
  font-size: 9;
  mark-anchor: 0.5 0.5;
  :mark {
    size: 8.5px;
    fill: black;
    stroke: white;
  }
}


/** Major Pass */
["class_id" = '21122000'] ["scale" >= 100] [@sd > 50k] [@sd < 100k] {
  mark: symbol('x'), symbol('shape://times');
  label: Concatenate('უღ. '[name_geo]'
') parseInt([elev]);
  font-size: 11;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :nth-mark(1) {
    size: 9px;
    stroke: white;
    fill: white;
  };
  :nth-mark(2) {
    size: 7.5px;
    stroke: black;
  }
}


/** Pass */
["class_id" = '21121000'] ["scale" >= 100] [@sd > 50k] [@sd < 100k] {
  mark: symbol('x'), symbol('shape://times');
  label: Concatenate('უღ. '[name_geo]'
') parseInt([elev]);
  font-size: 9;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :nth-mark(1) {
    size: 8px;
    stroke: white;
    fill: white;
  };
  :nth-mark(2) {
    size: 6.5px;
    stroke: black;
  }
}


/** Water Surface Elevation */
["class_id" = '21124000'] ["scale" >= 100] [@sd > 50k] [@sd < 100k] {
  mark: symbol('circle');
  label: Concatenate([name_geo]'
') parseInt([elev]);
  font-size: 8;
  font-fill: #1f78b4;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :mark {
    size: 3px;
    fill: #a6cee3;
    stroke: #1f78b4;
  }
}


/** Elevation Point */
["class_id" = '21120000'] ["scale" >= 100] [@sd > 50k] [@sd < 100k] {
  mark: symbol('circle');
  label: Concatenate([name_geo]'
') parseInt([elev]);
  font-size: 8;
  mark-anchor: 0.5 0.5;
  mark-rotation: [rotation];
  :mark {
    size: 4px;
    fill: black;
    stroke: white;
  }
}


/*! ------▼ 100k label properties ▼------ */
["scale" >= 100] [@sd > 50k] [@sd < 100k] {
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.8;
  font-family: "DejaVu Sans";
  font-weight: normal;
  font-style: italic;
  font-fill: black;
  label-offset: 0 4;
  label-anchor: 0.5 0;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-max-displacement: 10;
}