/* @title violet polygon */
* {
  stroke: #000000;
  stroke-width: 0.5;
  fill: #3300ff;
  z-index: 0;
}

/* @title Cemetery 50k */
["class_id"='10000004'] {
  fill: #7fe678, symbol('shape://plus');
  fill-opacity: 0.5;
  z-index: 1, 2;
  fill-random: grid;
  fill-random-seed: 1;
  fill-random-rotation: none;
  fill-random-symbol-count: 1;
  fill-random-tile-size: 20;
  :fill {
    size: 4;
    stroke: #000000;
    stroke-width: 1;
    stroke-linecap: mitter;
  }
}

/* @title Airport Runway 50k */
["class_id"='16000000'] {
  fill: #c4c3c3;
  fill-opacity: 0.5;
  z-index: 1;
}

/* @title Skiing Place 50k */
["class_id"='17000000'] {
  fill: #78a5b4;
  fill-opacity: 0.5;
  stroke: #00a9e6;
  stroke-width: 0.7px;
  stroke-dasharray: 3 2;
  stroke-opacity: 0.5;
  z-index: 1;
}
