/* @title settlements 200k */
/*! ------▼ 200k symbols ▼------ */
/** Capital City */
["adm_stat" = '1'] [@sd > 100k] [@sd < 200k] {
  mark: symbol('circle'), symbol('star');
  mark-anchor: 0.5 0.5;
  :nth-mark(1) {
    size: 16px;
    fill: #ff7575;
    stroke: black;
  };
  :nth-mark(2) {
    size: 10px;
    fill: black;
  }
}

/** Autonomy Center */
["adm_stat" = '2'] [@sd > 100k] [@sd < 200k] {
  mark: symbol('circle'), symbol('circle');
  mark-anchor: 0.5 0.5;
  :nth-mark(1) {
    size: 14px;
    fill: #ff7575;
    stroke: black;
  };
  :nth-mark(2) {
    size: 8px;
    fill: black;
  };
  ["sett_code" = '12850100'] {
    font-size: 21;
  }
}

/** State Importance City */
["adm_stat" = '3'] [@sd > 100k] [@sd < 200k] {
  mark: symbol('circle'), symbol('circle');
  mark-anchor: 0.5 0.5;
  :mark {
    size: 12px;
    fill: #ffbab1;
    stroke: black;
    stroke-width: 0.5px;
  }
}

/** Region Center */
["adm_stat" = '4'] [@sd > 100k] [@sd < 200k] {
  mark: symbol('circle'), symbol('circle');
  mark-anchor: 0.5 0.5;
  :nth-mark(1) {
    size: 12px;
    fill: #ffbab1;
    stroke: black;
    stroke-width: 0.5px;
  };
  :nth-mark(2) {
    size: 4px;
    fill: black;
  }
}

/** Municipality Center */
["adm_stat" = '5'] [@sd > 100k] [@sd < 200k] {
  mark: symbol('circle'), symbol('circle');
  mark-anchor: 0.5 0.5;
  :nth-mark(1) {
    size: 10px;
    fill: #c4c3c3;
    stroke: black;
    stroke-width: 0.5px;
  };
  :nth-mark(2) {
    size: 2px;
    fill: black;
  }
}

/** Resort */
["adm_stat" = '8'] ["urb_stat" = '4'] [@sd > 100k] [@sd < 200k] {
  mark: symbol('circle'), symbol("ttf://DejaVu Sans#U+002A");
  mark-anchor: 0.5 0.5;
  :nth-mark(1) {
    size: 8px;
    fill: #a61215;
    stroke: black;
    stroke-width: 0.5px;
  };
  :nth-mark(2) {
    size: 6px;
    fill: white;
  }
}

/** Summer Cottage */
["adm_stat" = '8'] ["urb_stat" = '5'] [@sd > 100k] [@sd < 200k] {
  mark: symbol('square');
  mark-anchor: 0.5 0.5;
  :mark {
    size: 6px;
    fill: #a61215;
    stroke: black;
    stroke-width: 0.5px;
  }
}

/** Community Center */
["adm_stat" = '6'] [@sd > 100k] [@sd < 200k] {
  mark: symbol('circle'), symbol('circle');
  mark-anchor: 0.5 0.5;
  :nth-mark(1) {
    size: 7px;
    fill: white;
    stroke: black;
    stroke-width: 0.5px;
  };
  :nth-mark(2) {
    size: 2px;
    fill: black;
  }
}

/** Village */
["adm_stat" IN ('7')] [@sd > 100k] [@sd < 200k] {
  mark: symbol('circle');
  mark-anchor: 0.5 0.5;
  :mark {
    size: 6px;
    fill: white;
    stroke: black;
    stroke-width: 0.5px;
  }
}



/*! ------▼ 200k label properties ▼------ */
[@sd > 100k] [@sd < 200k] {
  label: [name_geo_g];
  label-offset: 0 -6;
  label-anchor: 0.5 1.0;
  
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-family: "DejaVu Sans";
  font-weight: normal;
  font-fill: black;
  
  mark-label-obstacle: true;
  label-priority:[pop_total];
  label-padding: 2;
  label-max-displacement: 25;
}

/*! ------▼ 200k label sizes ▼------ */
["urb_stat" = '1'] [@sd > 100k] [@sd < 200k] {
    ["pop_range" = '1'] {
      font-size: 30;
    };
    ["pop_range" = '2'] {
      font-size: 25;
    };
    ["pop_range" = '3'] {
      font-size: 21;
    };
    ["pop_range" = '4'] {
      font-size: 18;
    };
    ["pop_range" in ('5','6')] {
      font-size: 16;
    }
  }
  
  
  ["urb_stat" = '1'] ["pop_range" in ('7')],
  ["urb_stat" = '2'] ["pop_range" in ('1','2')],
  ["urb_stat" = '3'] ["pop_range" in ('1','2')],
  [@sd > 100k] [@sd < 200k] {
    font-size: 12;
  }
  
  
  ["urb_stat" = '1'] ["pop_range" in ('-1')],
  ["urb_stat" = '2'] ["pop_range" in ('3','4')],
  [@sd > 100k] [@sd < 200k] {
    font-size: 11;
  }
  
  
  ["urb_stat" = '2'] ["pop_range" in ('5','-1')],
  ["urb_stat" = '3'] ["pop_range" in ('3','4','5','6','-1')],
  [@sd > 100k] [@sd < 200k] {
    font-size: 10.5;
  }
  

  ["urb_stat" in ('4','5','6','7')] [@sd > 100k] [@sd < 200k] {
    font-size: 9.5;
  }