/* @title settlements 50k */
/*! ------▼ 50k symbols ▼------ */
/** Capital City */
["adm_stat" = '1'] ["urb_stat" = '1'] [@sd < 100k] {
  mark: symbol('circle'), symbol('star');
  mark-anchor: 0.5 0.5;
  label-offset: 0 20;
  :nth-mark(1) {
    size: 16px;
    fill: #ff7575;
    stroke: black;
  };
  :nth-mark(2) {
    size: 10px;
    fill: black;
  }
}

/** Autonomy Center */
["adm_stat" = '2'] ["urb_stat" = '1'] [@sd < 100k] {
  mark: symbol('circle'), symbol('circle');
  mark-anchor: 0.5 0.5;
  label-offset: 0 40;
  :nth-mark(1) {
    size: 14px;
    fill: #ff7575;
    stroke: black;
  };
  :nth-mark(2) {
    size: 8px;
    fill: black;
  };
  ["set_code" = '12850100'] {
    label-anchor: 0.5 1.6;
  }
}

/** State Importance City */
["adm_stat" = '3'] ["urb_stat" = '1'] [@sd < 100k] {
  mark: symbol('circle'), symbol('circle');
  label-offset: 0 15;
  mark-anchor: 0.5 0.5;
  label-offset: 0 10;
  :mark {
    size: 12px;
    fill: #ffbab1;
    stroke: black;
    stroke-width: 0.5px;
  }
}

/** Region Center */
["adm_stat" = '4'] ["urb_stat" = '1'] [@sd < 100k] {
  mark: symbol('circle'), symbol('circle');
  mark-anchor: 0.5 0.5;
  label-offset: 0 23;
  :nth-mark(1) {
    size: 12px;
    fill: #ffbab1;
    stroke: black;
    stroke-width: 0.5px;
  };
  :nth-mark(2) {
    size: 4px;
    fill: black;
  }
}

/** Municipality Center */
["adm_stat" = '5'] ["urb_stat" in ('1', '2')] [@sd < 100k] {
  mark: symbol('circle'), symbol('circle');
  mark-anchor: 0.5 0.5;
  label-offset: 0 30;
  :nth-mark(1) {
    size: 10px;
    fill: #c4c3c3;
    stroke: black;
    stroke-width: 0.5px;
  };
  :nth-mark(2) {
    size: 2px;
    fill: black;
  }
}

/** Resort */
["adm_stat" in ('7', '8')] ["urb_stat" = '4'] [@sd < 100k] {
  mark: symbol('circle'), symbol("ttf://DejaVu Sans#U+002A");
  mark-anchor: 0.5 0.5;
  label-offset: 0 10;
  :nth-mark(1) {
    size: 8px;
    fill: #a61215;
    stroke: black;
    stroke-width: 0.5px;
  };
  :nth-mark(2) {
    size: 6px;
    fill: white;
  }
}

/** Summer Cottage */
["adm_stat" in ('7', '8')] ["urb_stat" in ('5')],
["adm_stat" in ('8')] ["urb_stat" in ('6')] [@sd < 100k] {
  mark: symbol('square');
  mark-anchor: 0.5 0.5;
  label-offset: 0 10;
  :mark {
    size: 6px;
    fill: #a61215;
    stroke: black;
    stroke-width: 0.5px;
  }
}

/** Community Center */
["adm_stat" = '6'] ["urb_stat" in ('3', '2', '1')] [@sd < 100k] {
  mark: symbol('circle'), symbol('circle');
  mark-anchor: 0.5 0.5;
  label-offset: 0 18;
  label-anchor: 0.5 1.0;
  :nth-mark(1) {
    size: 7px;
    fill: white;
    stroke: black;
    stroke-width: 0.5px;
  };
  :nth-mark(2) {
    size: 2px;
    fill: black;
  }
}

/** Village */
["adm_stat" in ('7', '8')] ["urb_stat" in ('3')],
["adm_stat" in ('7')] ["urb_stat" in ('2')] [@sd < 100k] {
  mark: symbol('circle');
  mark-anchor: 0.5 0.5;
  label-offset: 0 15;
  :mark {
    size: 6px;
    fill: white;
    stroke: black;
    stroke-width: 0.5px;
  }
}

/** Abandoned Village */
["adm_stat" in ('7', '8')] ["urb_stat" = '7'] [@sd < 100k] {
  mark: symbol('square'), symbol('x');
  mark-anchor: 0.5 0.5;
  label-offset: 0 10;
  :nth-mark(1) {
    size: 6px;
    fill: white;
    stroke: black;
    stroke-width: 0.5px;
  };
  :nth-mark(2) {
    size: 6px;
    fill: #666666;
  }
}



/*! ------▼ 50k label properties ▼------ */
[@sd < 100k] {
  label: [set_geo];
  label-offset: 0 -6;
  label-anchor: 0.5 1.0;
  
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-family: "DejaVu Sans";
  font-weight: normal;
  font-fill: black;
  
  mark-label-obstacle: true;
  label-padding: 1;
  label-max-displacement: 30;
}

/*! ------▼ 50k label sizes ▼------ */
["urb_stat" = '1'] [@sd < 100k] {
  ["pop_range" = '1'] {
    font-size: 30;
  };
  ["pop_range" = '3'] {
    font-size: 25;
  };
  ["pop_range" = '4'] {
    font-size: 21;
  };
  ["pop_range" in ('5','6')] {
    font-size: 18;
  }
}


["urb_stat" = '1'] ["pop_range" in ('7')],
["urb_stat" = '2'] ["pop_range" in ('1','2')],
["urb_stat" = '3'] ["pop_range" in ('1','2')],
[@sd < 100k] {
  font-size: 15;
}


["urb_stat" = '1'] ["pop_range" in ('-1')],
["urb_stat" = '2'] ["pop_range" in ('3','4')],
[@sd < 100k] {
  font-size: 14;
}


["urb_stat" = '2'] ["pop_range" in ('5','-1')],
["urb_stat" = '3'] ["pop_range" in ('3','4','5','6','-1')],
[@sd < 100k] {
  font-size: 13;
}


["urb_stat" in ('4','5','6','7')] [@sd < 100k] {
  font-size: 12;
}
