/* @title buidlings */
* [@sd < 50000] {
    stroke: #c8bcb2;
    stroke-width: 0.5;
    fill: #d9d0c9;
    z-index:1;
}
/* @title buidlings */
* [@sd < 50000]{
    fill-geometry: [offset(geom, 1.5, -1.5)];
    fill: darkgray;
    z-index:0;
}