/** All Elements */
* {
  stroke: #0099cc;
  stroke-opacity: 0;
}

/*! START Electricity Line 100k */
/** Pipeline */ 
["class_id" = '53432000'] [@sd < 100k] {
  stroke: black;
  stroke-width: 0.2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0.8;
  z-index: 10;
}

/** Line Dots */
["class_id" = '53432000'] [@sd < 100k] {
  stroke: symbol('shape://vertline');
  stroke-dashoffset: 5;
  stroke-dasharray: 10 40;
  z-index: 20;
  :stroke {
    size: 7px;
    fill: black;
    stroke: black;
    stroke-width: 0.5;
  }
}
/*! END Electricity Line 100k */