/*!---------------- 1000k ----------------*/
/*! Excluding Filter */
* [@sd > 700k] [@sd < 2500k] {
  stroke: red;
  stroke-opacity: 0;
}



/*! START Railway */
/* @title Main Railway 1000k */
["class_id" in ("61112100", "61130000")] [@sd > 700k] [@sd < 1500k] {
  stroke: #808080;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0.8;
  z-index: 43;
  ["class_id" in ("61112100")] {
    stroke: white;
    stroke-width: 1.5px;
    stroke-dasharray: 15 15;
    stroke-linecap: butt;
    stroke-opacity: 0.8;
    z-index: 45;
  };
  /* Main Railway in Tunnel 1000k */
  ["class_id" in ("61130000")] {
    stroke: white;
    stroke-width: 1.5px;
    stroke-dasharray: 5 12;
    stroke-linecap: butt;
    stroke-opacity: 0.8;
    z-index: 44;
  }
}
/*! END Railway */



/*! START Narrow Railway */
/* @title Narrow Railway, Railway in Stations 1000k */
["class_id" in ("61120000")] [@sd > 700k] [@sd < 1500k] {
  stroke: #808080;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0.8;
  z-index: 21;
  ["class_id" in ("61120000")] {
    stroke: white;
    stroke-width: 0.75px;
    stroke-dasharray: 5 5;
    stroke-linecap: butt;
    stroke-opacity: 1;
    z-index: 41;
  }
}
/*! END Narrow Railway */


/*!---------------- 2000k ----------------*/
/*! START Railway */
/* @title Main Railway 2000k */
["class_id" in ("61112100", "61130000")] [@sd > 1500k] [@sd < 2500k] {
  stroke: #808080;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0.8;
  z-index: 43;
  ["class_id" in ("61112100")] {
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 10 10;
    stroke-linecap: butt;
    stroke-opacity: 0.8;
    z-index: 45;
  };
  /* Main Railway in Tunnel 2000k */
  ["class_id" in ("61130000")] {
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 4 10;
    stroke-linecap: butt;
    stroke-opacity: 0.8;
    z-index: 44;
  }
}
/*! END Railway */



/*! START Narrow Railway */
/* @title Narrow Railway, Railway in Stations 2000k */
["class_id" in ("61120000")] [@sd > 1500k] [@sd < 2500k] {
  stroke: #808080;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0.8;
  z-index: 21;
  ["class_id" in ("61120000")] {
    stroke: white;
    stroke-width: 0.5px;
    stroke-dasharray: 5 5;
    stroke-linecap: butt;
    stroke-opacity: 1;
    z-index: 41;
  }
}
/*! END Narrow Railway */