/*! START State */
/* @title State 100k */
["class_id" in ('90','94')] [@sd > 70k] [@sd < 150k] {
  ["river_bound" not in ('4')] {
   stroke: #ff00b7;
   stroke-width: 12px;
   stroke-linecap: round;
   stroke-linejoin: round;
   z-index: 22;
   ["river_bound"='0'] {
     stroke: black;
     stroke-width: 1.2px;
     stroke-dasharray: 10 4 1 4;
     stroke-linecap: butt;
     z-index: 42;
   };
   ["river_bound" in ('1', '2')] {
     stroke: #0091c1;
     stroke-width: 1.2px;
     stroke-linecap: round;
     stroke-linejoin: round;
     z-index: 42;
   }
 };
 ["river_bound"='4'] {
   stroke: black;
   stroke-width: 1.2px;
   stroke-dasharray: 10 4 1 4;
   stroke-linecap: butt;
   z-index: 42;
 }
}

/* @title State 50k */
["class_id" in ('90','94')] [@sd > 50k] [@sd < 70k] {
 ["river_bound" not in ('4')] {
  stroke: #ff00b7;
  stroke-width: 20px;
  stroke-linecap: round;
  stroke-linejoin: round;
  z-index: 22;
  ["river_bound"='0'] {
    stroke: black;
    stroke-width: 1.6px;
    stroke-dasharray: 10 4 1 4;
    stroke-linecap: butt;
    z-index: 42;
  };
  ["river_bound" in ('1', '2')] {
    stroke: #0091c1;
    stroke-width: 1.6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    z-index: 42;
  }
};
["river_bound"='4'] {
  stroke: black;
  stroke-width: 1.6px;
  stroke-dasharray: 10 4 1 4;
  stroke-linecap: butt;
  z-index: 42;
}
}

/* @title State 25k */
["class_id" in ('90','94')] [@sd < 50k] {
 ["river_bound" not in ('4')] {
  stroke: #ff00b7;
  stroke-width: 24px;
  stroke-linecap: round;
  stroke-linejoin: round;
  z-index: 22;
  ["river_bound"='0'] {
    stroke: black;
    stroke-width: 2px;
    stroke-dasharray: 10 4 1 4;
    stroke-linecap: butt;
    z-index: 42;
  };
  ["river_bound" in ('1', '2')] {
    stroke: #0091c1;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    z-index: 42;
  }
};
["river_bound"='4'] {
  stroke: black;
  stroke-width: 2px;
  stroke-dasharray: 10 4 1 4;
  stroke-linecap: butt;
  z-index: 42;
}
}
/*! END State */


/*! START Autonomy */
/* @title Autonomy 100k */
["class_id" in ('91','95')] [@sd > 70k] [@sd < 150k] {
 ["river_bound" not in ('4')] {
  stroke: #ff4ccd;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  z-index: 21;
  ["river_bound"='0'] {
    stroke: black;
    stroke-width: 0.8px;
    stroke-dasharray: 10 3 1 3 1 3;
    stroke-linecap: butt;
    z-index: 41;
  };
  ["river_bound" in ('1', '2')] {
    stroke: #0091c1;
    stroke-width: 0.8px;
    stroke-linecap: round;
    stroke-linejoin: round;
    z-index: 41;
  }
};
["river_bound"='4']{
  stroke: black;
  stroke-width: 0.8px;
  stroke-dasharray: 10 3 1 3 1 3;
  stroke-linecap: butt;
  z-index: 41;
}
}

/* @title Autonomy 50k */
["class_id" in ('91','95')] [@sd > 50k] [@sd < 70k] {
 ["river_bound" not in ('4')] {
  stroke: #ff4ccd;
  stroke-width: 14px;
  stroke-linecap: round;
  stroke-linejoin: round;
  z-index: 21;
  ["river_bound"='0'] {
    stroke: black;
    stroke-width: 1.2px;
    stroke-dasharray: 10 3 1 3 1 3;
    stroke-linecap: butt;
    z-index: 41;
  };
  ["river_bound" in ('1', '2')] {
    stroke: #0091c1;
    stroke-width: 1.2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    z-index: 41;
  }
};
["river_bound"='4']{
  stroke: black;
  stroke-width: 1.2px;
  stroke-dasharray: 10 3 1 3 1 3;
  stroke-linecap: butt;
  z-index: 41;
}
}

/* @title Autonomy 25k */
["class_id" in ('91','95')] [@sd < 50k] {
 ["river_bound" not in ('4')] {
  stroke: #ff4ccd;
  stroke-width: 18px;
  stroke-linecap: round;
  stroke-linejoin: round;
  z-index: 21;
  ["river_bound"='0'] {
    stroke: black;
    stroke-width: 1.6px;
    stroke-dasharray: 10 3 1 3 1 3;
    stroke-linecap: butt;
    z-index: 41;
  };
  ["river_bound" in ('1', '2')] {
    stroke: #0091c1;
    stroke-width: 1.6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    z-index: 41;
  }
};
["river_bound"='4']{
  stroke: black;
  stroke-width: 1.6px;
  stroke-dasharray: 10 3 1 3 1 3;
  stroke-linecap: butt;
  z-index: 41;
}
}
/*! END Autonomy */


/*! START Occupied Territory */
/* @title Occupied Territory 100k */
["class_id" in ('100')] [@sd > 70k] [@sd < 150k] {
 ["river_bound" not in ('4')] {
   stroke: #b3b3b3;
   stroke-width: 9px;
   stroke-linecap: round;
   stroke-linejoin: round;
   z-index: 20;
   ["river_bound"='0'] {
     stroke: black;
     stroke-width: 0.8px;
     stroke-dasharray: 10 3 1 3 1 3;
     stroke-linecap: butt;
     z-index: 40;
   };
   ["river_bound" in ('1', '2')] {
     stroke: #0091c1;
     stroke-width: 0.8px;
     stroke-linecap: round;
     stroke-linejoin: round;
     z-index: 40;
   }
 };
 ["river_bound"='4'] {
   stroke: black;
   stroke-width: 0.8px;
   stroke-dasharray: 10 3 1 3 1 3;
   stroke-linecap: butt;
   z-index: 40;
 }
}

/* @title Occupied Territory 50k */
["class_id" in ('100')] [@sd > 50k] [@sd < 70k] {
 ["river_bound" not in ('4')] {
   stroke: #b3b3b3;
   stroke-width: 13px;
   stroke-linecap: round;
   stroke-linejoin: round;
   z-index: 20;
   ["river_bound"='0'] {
     stroke: black;
     stroke-width: 1.2px;
     stroke-dasharray: 10 3 1 3 1 3;
     stroke-linecap: butt;
     z-index: 40;
   };
   ["river_bound" in ('1', '2')] {
     stroke: #0091c1;
     stroke-width: 1.2px;
     stroke-linecap: round;
     stroke-linejoin: round;
     z-index: 40;
   }
 };
 ["river_bound"='4'] {
   stroke: black;
   stroke-width: 1.2px;
   stroke-dasharray: 10 3 1 3 1 3;
   stroke-linecap: butt;
   z-index: 40;
 }
}

/* @title Occupied Territory 25k */
["class_id" in ('100')] [@sd < 50k] {
 ["river_bound" not in ('4')] {
   stroke: #b3b3b3;
   stroke-width: 13px;
   stroke-linecap: round;
   stroke-linejoin: round;
   z-index: 20;
   ["river_bound"='0'] {
     stroke: black;
     stroke-width: 1.6px;
     stroke-dasharray: 10 3 1 3 1 3;
     stroke-linecap: butt;
     z-index: 40;
   };
   ["river_bound" in ('1', '2')] {
     stroke: #0091c1;
     stroke-width: 1.6px;
     stroke-linecap: round;
     stroke-linejoin: round;
     z-index: 40;
   }
 };
 ["river_bound"='4'] {
   stroke: black;
   stroke-width: 1.6px;
   stroke-dasharray: 10 3 1 3 1 3;
   stroke-linecap: butt;
   z-index: 40;
 }
}
/*! END Occupied Territory */


/*! START Region */
/* @title Region 100k */
["class_id" in ('92')] [@sd > 70k] [@sd < 150k] {
 ["river_bound" not in ('4')] {
   stroke: #ff66d4;
   stroke-width: 7px;
   stroke-linecap: round;
   stroke-linejoin: round;
   z-index: 19;
   ["river_bound" in ('0', '3')] {
     stroke: black;
     stroke-width: 0.6px;
     stroke-dasharray: 10 3 1 3 1 3 1 3;
     stroke-linecap: butt;
     z-index: 39;
   };
   ["river_bound" in ('1', '2')] {
     stroke: #0091c1;
     stroke-width: 0.6px;
     stroke-linecap: round;
     stroke-linejoin: round;
     z-index: 39;
   }
 };
 ["river_bound"='3'] {
   stroke-opacity: 0.3;
 };
 ["river_bound"='4'] {
   stroke: black;
   stroke-width: 0.6px;
   stroke-dasharray: 10 3 1 3 1 3 1 3;
   stroke-linecap: butt;
   z-index: 39;
 }
}

/* @title Region 50k */
["class_id" in ('92')] [@sd > 50k] [@sd < 70k] {
 ["river_bound" not in ('4')] {
   stroke: #ff66d4;
   stroke-width: 9px;
   stroke-linecap: round;
   stroke-linejoin: round;
   z-index: 19;
   ["river_bound" in ('0', '3')] {
     stroke: black;
     stroke-width: 1px;
     stroke-dasharray: 10 3 1 3 1 3 1 3;
     stroke-linecap: butt;
     z-index: 39;
   };
   ["river_bound" in ('1', '2')] {
     stroke: #0091c1;
     stroke-width: 1px;
     stroke-linecap: round;
     stroke-linejoin: round;
     z-index: 39;
   }
 };
 ["river_bound"='3'] {
   stroke-opacity: 0.3;
 };
 ["river_bound"='4'] {
   stroke: black;
   stroke-width: 1px;
   stroke-dasharray: 10 3 1 3 1 3 1 3;
   stroke-linecap: butt;
   z-index: 39;
 }
}

/* @title Region 25k */
["class_id" in ('92')] [@sd < 50k] {
 ["river_bound" not in ('4')] {
   stroke: #ff66d4;
   stroke-width: 13px;
   stroke-linecap: round;
   stroke-linejoin: round;
   z-index: 19;
   ["river_bound" in ('0', '3')] {
     stroke: black;
     stroke-width: 1.4px;
     stroke-dasharray: 10 3 1 3 1 3 1 3;
     stroke-linecap: butt;
     z-index: 39;
   };
   ["river_bound" in ('1', '2')] {
     stroke: #0091c1;
     stroke-width: 1.4px;
     stroke-linecap: round;
     stroke-linejoin: round;
     z-index: 39;
   }
 };
 ["river_bound"='3'] {
   stroke-opacity: 0.3;
 };
 ["river_bound"='4'] {
   stroke: black;
   stroke-width: 1.4px;
   stroke-dasharray: 10 3 1 3 1 3 1 3;
   stroke-linecap: butt;
   z-index: 39;
 }
}
/*! END Region */


/*! START Municipality */
/* @title Municipality 100k */
["class_id" in ('93')] [@sd > 70k] [@sd < 150k] {
  ["river_bound" not in ('4')] {
    stroke: #ff99e2;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    z-index: 18;
    ["river_bound" in ('0', '3')] {
      stroke: black;
      stroke-width: 0.3px;
      stroke-dasharray: 10 3 1 3 1 3 1 3 1 3;
      stroke-linecap: butt;
      z-index: 38;
    };
    ["river_bound" in ('1', '2')] {
      stroke: #0091c1;
      stroke-width: 0.3px;
      stroke-linecap: round;
      stroke-linejoin: round;
      z-index: 38;
    }
  };
  ["river_bound"='3'] {
    stroke-opacity: 0.5;
  };
  ["river_bound"='4'] {
    stroke: black;
    stroke-width: 0.3px;
    stroke-dasharray: 10 3 1 3 1 3 1 3 1 3;
    stroke-linecap: butt;
    z-index: 38;
  }
 }

/* @title Municipality 50k */
["class_id" in ('93')] [@sd > 50k] [@sd < 70k] {
 ["river_bound" not in ('4')] {
   stroke: #ff99e2;
   stroke-width: 5px;
   stroke-linecap: round;
   stroke-linejoin: round;
   z-index: 18;
   ["river_bound" in ('0', '3')] {
     stroke: black;
     stroke-width: 0.4px;
     stroke-dasharray: 10 3 1 3 1 3 1 3 1 3;
     stroke-linecap: butt;
     z-index: 38;
   };
   ["river_bound" in ('1', '2')] {
     stroke: #0091c1;
     stroke-width: 0.4px;
     stroke-linecap: round;
     stroke-linejoin: round;
     z-index: 38;
   }
 };
 ["river_bound"='3'] {
   stroke-opacity: 0.5;
 };
 ["river_bound"='4'] {
   stroke: black;
   stroke-width: 0.4px;
   stroke-dasharray: 10 3 1 3 1 3 1 3 1 3;
   stroke-linecap: butt;
   z-index: 38;
 }
}

/* @title Municipality 25k */
["class_id" in ('93')] [@sd < 50k] {
 ["river_bound" not in ('4')] {
   stroke: #ff99e2;
   stroke-width: 7px;
   stroke-linecap: round;
   stroke-linejoin: round;
   z-index: 18;
   ["river_bound" in ('0', '3')] {
     stroke: black;
     stroke-width: 0.6px;
     stroke-dasharray: 10 3 1 3 1 3 1 3 1 3;
     stroke-linecap: butt;
     z-index: 38;
   };
   ["river_bound" in ('1', '2')] {
     stroke: #0091c1;
     stroke-width: 0.6px;
     stroke-linecap: round;
     stroke-linejoin: round;
     z-index: 38;
   }
 };
 ["river_bound"='3'] {
   stroke-opacity: 0.5;
 };
 ["river_bound"='4'] {
   stroke: black;
   stroke-width: 0.3px;
   stroke-dasharray: 10 3 1 3 1 3 1 3 1 3;
   stroke-linecap: butt;
   z-index: 38;
 }
}
/*! END Municipality */


/*! START City */
/* @title City 100k */
["class_id" in ('96')] [@sd > 70k] [@sd < 150k] {
  ["river_bound" not in ('4')] {
    stroke: #ff99e2;
    stroke-width: 2.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    z-index: 18;
    ["river_bound" in ('0', '3')] {
      stroke: black;
      stroke-width: 0.3px;
      stroke-dasharray: 10 3 1 3 1 3 1 3 1 3;
      stroke-linecap: butt;
      z-index: 38;
    };
    ["river_bound" in ('1', '2')] {
      stroke: #0091c1;
      stroke-width: 0.3px;
      stroke-linecap: round;
      stroke-linejoin: round;
      z-index: 38;
    }
  };
  ["river_bound"='3'] {
    stroke-opacity: 0.5;
  };
  ["river_bound"='4'] {
    stroke: black;
    stroke-width: 0.3px;
    stroke-dasharray: 10 3 1 3 1 3 1 3 1 3;
    stroke-linecap: butt;
    z-index: 38;
  }
 }


/* @title City 50k */
["class_id" in ('96')] [@sd > 50k] [@sd < 70k] {
  ["river_bound" not in ('4')] {
    stroke: #ff99e2;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    z-index: 18;
    ["river_bound" in ('0', '3')] {
      stroke: black;
      stroke-width: 0.3px;
      stroke-dasharray: 10 3 1 3 1 3 1 3 1 3;
      stroke-linecap: butt;
      z-index: 38;
    };
    ["river_bound" in ('1', '2')] {
      stroke: #0091c1;
      stroke-width: 0.3px;
      stroke-linecap: round;
      stroke-linejoin: round;
      z-index: 38;
    }
  };
  ["river_bound"='3'] {
    stroke-opacity: 0.5;
  };
  ["river_bound"='4'] {
    stroke: black;
    stroke-width: 0.3px;
    stroke-dasharray: 10 3 1 3 1 3 1 3 1 3;
    stroke-linecap: butt;
    z-index: 38;
  }
 }
 
 /* @title City 25k */
 ["class_id" in ('96')] [@sd < 50k] {
  ["river_bound" not in ('4')] {
    stroke: #ff99e2;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    z-index: 18;
    ["river_bound" in ('0', '3')] {
      stroke: black;
      stroke-width: 0.5px;
      stroke-dasharray: 10 3 1 3 1 3 1 3 1 3;
      stroke-linecap: butt;
      z-index: 38;
    };
    ["river_bound" in ('1', '2')] {
      stroke: #0091c1;
      stroke-width: 0.5px;
      stroke-linecap: round;
      stroke-linejoin: round;
      z-index: 38;
    }
  };
  ["river_bound"='3'] {
    stroke-opacity: 0.5;
  };
  ["river_bound"='4'] {
    stroke: black;
    stroke-width: 0.5px;
    stroke-dasharray: 10 3 1 3 1 3 1 3 1 3;
    stroke-linecap: butt;
    z-index: 38;
  }
 }
 /*! END City */