/*!---------------- 1000k ----------------*/
/*! Excluding Filter */
* [@sd > 700k] [@sd < 2500k] {
  stroke: red;
  stroke-opacity: 0;
}


/*! START River */
/* @title River 1000k */
["scale" >= 1000000] [@sd > 700k] [@sd < 1500k] {
  stroke: #0091c1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0;
  z-index: 21;
  label: [name_eng];
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-family: "DejaVu Sans";
  font-weight: normal;
  font-fill: #0083c1;
  label-allow-overruns: true;
  label-remove-overlaps: true;
  label-group: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 5;
  label-follow-line: true;
  label-max-angle-delta: 90;
  label-max-displacement: 10;
  label-repeat: 150;
  ["class_id" in ("1")] {
    stroke-width: 0.1px;
    stroke-opacity: 1;
    font-size: 10;
    z-index: 22;
  };
  ["class_id" in ("2")] {
    stroke-width: 0.2px;
    stroke-opacity: 1;
    font-size: 10;
    z-index: 23;
  };
  ["class_id" in ("3")] {
    stroke-width: 0.4px;
    stroke-opacity: 1;
    font-size: 10;
    z-index: 24;
  };
  ["class_id" in ("4")] {
    stroke-width: 0.6px;
    stroke-opacity: 1;
    font-size: 10;
    z-index: 25;
  };
  ["class_id" in ("5")] {
    stroke-width: 0.8px;
    stroke-opacity: 1;
    font-size: 11;
    label-priority:2550;
    z-index: 26;
  };
  ["class_id" in ("6")] {
    stroke-width: 1px;
    stroke-opacity: 1;
    font-size: 11;
    label-priority:2550;
    z-index: 27;
  };
  ["class_id" in ("7")] {
    stroke-width: 1.2px;
    stroke-opacity: 1;
    font-size: 12;
    label-priority:2550;
    z-index: 28;
  };
  ["class_id" in ("8")] {
    stroke-width: 1.4px;
    stroke-opacity: 1;
    font-size: 12;
    label-priority:2550;
    z-index: 29;
  };
  ["class_id" in ("9")] {
    stroke-width: 1.6px;
    stroke-opacity: 1;
    font-size: 14;
    label-priority:2600;
    z-index: 30;
  };
  ["class_id" in ("10")] {
    stroke-width: 2px;
    stroke-opacity: 1;
    font-size: 14;
    label-priority:2650;
    z-index: 31;
  }
}
/*! END River */



/*!---------------- 2000k ----------------*/
/*! START River */
/* @title River 2000k */
["scale" >= 2000000] [@sd > 1500k] [@sd < 2500k] {
  stroke: #0091c1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0;
  z-index: 21;
  label: [name_eng];
  font-size: 10;
  halo-radius: 2;
  halo-color: white;
  halo-opacity: 0.6;
  font-family: "DejaVu Sans";
  font-weight: normal;
  font-fill: #0083c1;
  label-allow-overruns: false;
  label-remove-overlaps: true;
  label-group: true;
  label-conflict-resolution: true;
  label-fit-goodness: 1;
  label-padding: 10;
  label-follow-line: true;
  label-max-angle-delta: 90;
  label-max-displacement: 200;
  label-repeat: 400;
  ["class_id" in ("1")] {
    stroke-width: 0.1px;
    stroke-opacity: 1;
    z-index: 22;
  };
  ["class_id" in ("2")] {
    stroke-width: 0.2px;
    stroke-opacity: 1;
    z-index: 23;
  };
  ["class_id" in ("3")] {
    stroke-width: 0.4px;
    stroke-opacity: 1;
    z-index: 24;
  };
  ["class_id" in ("4")] {
    stroke-width: 0.6px;
    stroke-opacity: 1;
    z-index: 25;
  };
  ["class_id" in ("5")] {
    stroke-width: 0.8px;
    stroke-opacity: 1;
    label-priority:2550;
    z-index: 26;
  };
  ["class_id" in ("6")] {
    stroke-width: 1px;
    stroke-opacity: 1;
    label-priority:2550;
    z-index: 27;
  };
  ["class_id" in ("7")] {
    stroke-width: 1.2px;
    stroke-opacity: 1;
    label-priority:2550;
    z-index: 28;
  };
  ["class_id" in ("8")] {
    stroke-width: 1.4px;
    stroke-opacity: 1;
    label-priority:2550;
    z-index: 29;
  };
  ["class_id" in ("9")] {
    stroke-width: 1.6px;
    stroke-opacity: 1;
    label-priority:2600;
    z-index: 30;
  };
  ["class_id" in ("10")] {
    stroke-width: 2px;
    stroke-opacity: 1;
    label-priority:2650;
    z-index: 31;
  }
}
/*! END River */
