/** Adm-Region Symbol 50k-200k */
["color_code_reg" = '1'] [@sd < 1000k] {
  fill: #fbb4ae;
  fill-opacity: 0.5;
  z-index: 1;
}

["color_code_reg" = '2'] [@sd < 1000k] {
  fill: #b3cde3;
  fill-opacity: 0.5;
  z-index: 1;
}

["color_code_reg" = '3'] [@sd < 1000k] {
  fill: #decbe4;
  fill-opacity: 0.5;
  z-index: 1;
}

["color_code_reg" = '4'] [@sd < 1000k] {
  fill: #fed9a6;
  fill-opacity: 0.5;
  z-index: 1;
}

["color_code_reg" = '5'] [@sd < 1000k] {
  fill: [recode(color_code_mun,
      1,'#bee5be', 2,'#d2e5bf', 3,'#c8e5bf',
      4,'#bfe5c8', 5,'#bfe5d2')];
  fill-opacity: 1;
  z-index: 1;
}
