/** Adm-Municipality Symbol 500k */
["color_code_reg" = '1'] [@sd > 200k] [@sd < 1000k] {
  fill: [recode(color_code_mun,
      1,'#bfd0ff', 2,'#b2c7ff', 3,'#a6beff',
      4,'#99b4ff', 5,'#8cabff')];
  fill-opacity: 0.7;
  z-index: 1;
}

["color_code_reg" = '2'] [@sd > 200k] [@sd < 1000k] {
  fill: [recode(color_code_mun,
      1,'#ffc6bf', 2,'#ffbbb3', 3,'#ffafa6',
      4,'#ffa399', 5,'#ff988c')];
  fill-opacity: 0.7;
  z-index: 1;
}

["color_code_reg" = '3'] [@sd > 200k] [@sd < 1000k] {
  fill: [recode(color_code_mun,
      1,'#ffbfff', 2,'#ffb3ff', 3,'#ffa6ff',
      4,'#ff99ff', 5,'#ff8cff')];
  fill-opacity: 0.7;
  z-index: 1;
}

["color_code_reg" = '4'] [@sd > 200k] [@sd < 1000k] {
  fill: [recode(color_code_mun,
      1,'#e0c0ff', 2,'#d9b3ff', 3,'#d2a6ff',
      4,'#cc99ff', 5,'#c68cff')];
  fill-opacity: 0.7;
  z-index: 1;
}

["color_code_reg" = '5'] [@sd > 200k] [@sd < 1000k] {
  fill: [recode(color_code_mun,
      1,'#edffbf', 2,'#e9ffb3', 3,'#e6ffa6',
      4,'#e2ff99', 5,'#deff8c')];
  fill-opacity: 0.7;
  z-index: 1;
}
