/* @title Autobahn 10k */
["class_id"="62111000"] [@sd < 10000] {
  stroke: #4b4b4b, #ff8805, #4b4b4b;
  stroke-width: 10.8px, 8.5px, 2px;
  stroke-linecap: round;
  z-index: 22, 42, 43;
}

/* @title Autobahn 50k */
["class_id"="62111000"] [@sd > 10000] [@sd < 100000] {
  stroke: #4b4b4b, #ff8805, #4b4b4b;
  stroke-width: 8.5px, 7.1px, 0.85px;
  stroke-linecap: round;
  z-index: 22, 42, 43;
}

/* @title Autobahn 200k */
["class_id"="62111000"] [@sd > 100000] [@sd < 300000] {
  stroke: #4b4b4b, #ff8805, #4b4b4b;
  stroke-width: 8.5px, 7.1px, 0.85px;
  stroke-linecap: round;
  z-index: 22, 42, 43;
}
