/* @title Autobahn 10k */
["class_id"="62111000"] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b, #ff8805, #4b4b4b;
  stroke-width: 10.8px, 8.5px, 2px;
  stroke-linecap: round;
  z-index: 22, 42, 43;
}
/* @title International HWY 10k */
["class_id"="62001000"] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b, #ff8805;
  stroke-width: 8.5px, 7.9px;
  stroke-linecap: round;
  z-index: 21, 41;
}
/* @title International HWY in City 10k */
["class_id"="62121000"] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b, #ff8805;
  stroke-width: 8.5px, 7.9px;
  stroke-linecap: round;
  z-index: 20, 41;
  label: [name];
  font-family: Arial;
  font-weight: normal;
  font-fill: black;
  font-size: 10;
  halo-color: white;
  halo-radius: 1;
  label-follow-line: true;
  label-max-angle-delta: 90;
  label-max-displacement: 400;
  label-repeat: 150;
}
/* @title International HWY in Tunnel (2 lines) 10k */
["class_id"="62121100"] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b;
  stroke-width: 8.5px;
  stroke-linecap: butt;
  z-index: 19;
}
["class_id"="62121100"] [@sd > 5000] [@sd < 10000] {
  stroke: #ff8805;
  stroke-width: 7.9px;
  stroke-dasharray: 5 10;
  stroke-linecap: butt;
  z-index: 25;
}
/* @title State HWY 10k */
["class_id"="62122000"] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b, #ffc105;
  stroke-width: 7px, 6.5px;
  stroke-linecap: round;
  z-index: 18, 40;
}
/* @title State HWY in City 10k */
["class_id"="62002000"] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b, #ffc105;
  stroke-width: 5.7px, 5.1px;
  stroke-linecap: round;
  z-index: 17, 40;
  label: [name];
  font-family: Arial;
  font-weight: normal;
  font-fill: black;
  font-size: 10;
  halo-color: white;
  halo-radius: 1;
  label-follow-line: true;
  label-max-angle-delta: 90;
  label-max-displacement: 400;
  label-repeat: 150;
}
/* @title State HWY in Tunnel (2 lines) 10k */
["class_id"="62122100"] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b;
  stroke-width: 5.7px;
  stroke-linecap: square;
  z-index: 16;
}
["class_id"="62122100"] [@sd > 5000] [@sd < 10000] {
  stroke: #ffc105;
  stroke-width: 5.1px;
  stroke-dasharray: 13.6 6.8;
  stroke-linecap: butt;
  z-index: 24;
}
/* @title State Road Unpaved 10k */
["class_id"="62340000"] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b, #ffdf7f;
  stroke-width: 5.7px, 5.1px;
  stroke-linecap: round;
  z-index: 15, 38;
}
/* @title Paved 10k */
["class_id"="62001100"] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b, #f2f20b;
  stroke-width: 5.1px, 4.5px;
  stroke-linecap: round;
  z-index: 14, 38;
}
/* @title HWY in City 10k */
["class_id"="62001200"] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b, #f2f20b;
  stroke-width: 5.1px, 4.5px;
  stroke-linecap: round;
  z-index: 13, 38;
  label: [name];
  font-family: Arial;
  font-weight: normal;
  font-fill: black;
  font-size: 10;
  halo-color: white;
  halo-radius: 1;
  label-follow-line: true;
  label-max-angle-delta: 90;
  label-max-displacement: 400;
  label-repeat: 150;
}
/* @title HWY in Tunnel 2 lines 10k */
["class_id"="62001300"] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b;
  stroke-width: 5.1px;
  stroke-linecap: round;
  z-index: 13;
}
["class_id"="62001300"] [@sd > 5000] [@sd < 10000] {
  stroke: #f2f20b;
  stroke-width: 4.5px;
  stroke-dasharray: 11.3 11.3;
  stroke-linecap: butt;
  z-index: 23;
}
/* @title Pedestrian Street 10k */
["class_id"="62354000"] [@sd > 5000] [@sd < 10000] {
  stroke: #e3e2e2;
  stroke-width: 2.8px;
  stroke-linecap: round;
  z-index: 35;
}
/* @title Improved Unpaved (2 lines) 10k */
["class_id"="62131000"] [@sd > 5000] [@sd < 10000] {
  stroke: #1a1a1a;
  stroke-opacity: 0.85;
  stroke-width: 4.3px;
  stroke-linecap: round;
  z-index: 12;
}
["class_id"="62131000"] [@sd > 5000] [@sd < 10000] {
  stroke: #ffffff;
  stroke-width: 3.7px;
  stroke-linecap: round;
  z-index: 37;
}
/* @title Streets in Cities (big) 10k */
["class_id"="62100000"] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b, #fffefd;
  stroke-width: 3.4px, 2.8px;
  stroke-linecap: round;
  z-index: 11, 36;
  label: [name];
  font-family: Arial;
  font-weight: normal;
  font-fill: black;
  font-size: 10;
  halo-color: white;
  halo-radius: 1;
  label-follow-line: true;
  label-max-angle-delta: 90;
  label-max-displacement: 400;
  label-repeat: 150;
}
/* @title Streets in Cities (small) (2 lines) 10k */
["class_id"="62201000"] [@sd > 5000] [@sd > 5000] [@sd < 10000] {
  stroke: #4b4b4b;
  stroke-opacity: 0.85;
  stroke-width: 3px;
  stroke-linecap: round;
  z-index: 10;
}
["class_id"="62201000"] [@sd > 5000] [@sd > 5000] [@sd < 10000] {
  stroke: #fffefd;
  stroke-width: 2.5px;
  stroke-linecap: round;
  z-index: 36;
  label: [name];
  font-family: Arial;
  font-weight: normal;
  font-fill: black;
  font-size: 10;
  halo-color: white;
  halo-radius: 1;
  label-follow-line: true;
  label-max-angle-delta: 90;
  label-max-displacement: 400;
  label-repeat: 30;
}
/* @title Streets in Villages (2 lines) 10k */
["class_id"="62210000"] [@sd > 5000] [@sd < 10000] {
  stroke: #000000;
  stroke-opacity: 0.5;
  stroke-width: 3px;
  stroke-linecap: round;
  z-index: 9;
}
["class_id"="62210000"] [@sd > 5000] [@sd < 10000] {
  stroke: #fffefd;
  stroke-width: 2.5px;
  stroke-linecap: round;
  z-index: 36;
}
/* @title Underground Street (2 lines) 10k */
["class_id"="62007000"] [@sd > 5000] [@sd < 10000] {
  stroke: #a3a2a2;
  stroke-width: 1.4px;
  stroke-linecap: round;
  z-index: 8;
}
["class_id"="62007000"] [@sd > 5000] [@sd < 10000] {
  stroke: #ffffff;
  stroke-width: 1.4px;
  stroke-dasharray: 0.3, 0.6;
  stroke-linecap: butt;
  z-index: 35;
}
/* @title Underground Crossing 10k */
["class_id"="62352000"] [@sd > 5000] [@sd < 10000] {
  stroke: #808080;
  stroke-width: 1.4px;
  stroke-linecap: round;
  z-index: 7;
}
["class_id"="62352000"] [@sd > 5000] [@sd < 10000] {
  stroke: #ffffff;
  stroke-width: 1.4px;
  stroke-dasharray: 1, 2;
  stroke-linecap: square;
  z-index: 36;
}
/* @title Stairway 10k */
["class_id"="62351000"] [@sd > 5000] [@sd < 10000] {
  stroke: #808080;
  stroke-width: 1.4px;
  stroke-linecap: round;
  z-index: 6;
}
["class_id"="62351000"] [@sd > 5000] [@sd < 10000] {
  stroke: #ffffff;
  stroke-width: 1.4px;
  stroke-dasharray: 0.3, 0.3;
  stroke-linecap: square;
  z-index: 36;
}
/* @title Park Path 10k */
["class_id"="62353000"] [@sd > 5000] [@sd < 10000] {
  stroke: #c3d366;
  stroke-width: 0.7px;
  stroke-linecap: round;
  z-index: 5;
}
/* @title Service or Access Road 10k */
["class_id"="62201100"] [@sd > 5000] [@sd < 10000] {
  stroke: #787878;
  stroke-width: 0.6px;
  stroke-linecap: square;
  z-index: 4;
}
/* @title Rural Dirt 10k */
["class_id"="62132000"] [@sd > 5000] [@sd < 10000] {
  stroke: #000000;
  stroke-width: 2.3px;
  stroke-linecap: square;
  z-index: 3;
}
["class_id"="62132000"] [@sd > 5000] [@sd < 10000] {
  stroke: #ffffff;
  stroke-width: 1.6px;
  stroke-linecap: square;
  z-index: 36;
}
/* @title Forest Dirt 10k */
["class_id"="62133000"] [@sd > 5000] [@sd < 10000] {
  stroke: #797979;
  stroke-width: 0.6px;
  stroke-dasharray: 7.2, 3.2;
  stroke-linecap: butt;
  z-index: 2;
}
/* @title Cart Road 10k */
["class_id"="62151000"] [@sd > 5000] [@sd < 10000] {
  stroke: #797979;
  stroke-width: 0.6px;
  stroke-dasharray: 4.8, 2.4;
  stroke-linecap: butt;
  z-index: 1;
}
/* @title Path 10k */
["class_id"="62152000"] [@sd > 5000] [@sd < 10000] {
  stroke: #797979;
  stroke-width: 0.6px;
  stroke-dasharray: 2.4, 1.6;
  stroke-linecap: butt;
  z-index: 1;
}
